.brandsContainer {
    margin-top: 50px;
    flex-direction: column;
  }
  
  .brandCard {
    display: flex;
    background-color: #f4f4f4;
    border-radius: 20px;
    margin-top: 15px;
    overflow: hidden;
    height: 200px;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .brandCard:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .brandCard:active {
    transform: scale(0.98);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .brandCard img {
    object-fit: cover;
    justify-self: center;
    align-self: center;
  }
  