footer {
  display: flex;
  background-color: #1b4b66;
  color: white;
}
.footer-container {
  width: 90%;
  margin: auto;
}

li {
  list-style-type: none;
  margin-top: 10px;
}
a {
  text-decoration: none;
  color: #b6b6b6;
}
.footer-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;
}
.socialsButton {
  background-color: #639599;
  border-radius: 50%;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #1b4b66;
}
.socials {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: end;
}
.location {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
.location p{
  display: flex;
  align-items: center;
  gap: 10px;
}
.rights{
  margin-top: 5px;
  color: #B6B6B6;

}